<div class="dashboard-header">
  <h1>Your Tasks</h1>
  <a href="/write">
    <button class="form-button">Create a Task</button>
  </a>
</div>
{{#if posts}}
{{#each posts as |post|}}      
    <!-- Task CARD -->
    <div class="card-holder">
      <div class="card-left">
        <div class="title-container">
          <h3 class="title">{{post.title}}</h3>
        </div>
        <div class="date-container">
          <div>{{post.date_created}}</div>
        </div>
      </div>
      <div class="card-right">
        {{!-- <a href="/view/{{post.id}}" class="dashboard-link">
          <button class="dashboard-button dashboard-view-button">View Task</button>
        </a> --}}
        <a href="/write/{{post.id}}" class="dashboard-link">
          <button class="dashboard-button dashboard-edit-button">Edit Task</button>
        </a>
      </div>
    </div>
{{/each}}
{{/if}}

{{#unless posts}}
<p>You have not written any tasks yet. Write your first one with "Create a task!"</p>
{{/unless}}
