* {
  font-family: 'Sawarabi Gothic', sans-serif;
}

header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

body .mainBox {
  background-color: #c5c5c5;
  text-align: center;
}
.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}


.loginHeader , .loginFooter{
  display: flex;
  justify-content: center;
  font-size: 50px;
}


.loginFooter {
  font-size: 20px;
}


.field , #signIn{
  display: block;
  position: relative;
  left:  250px;
  width: 500px;
  margin: 10px;
  padding: 10px;
  
}

